Package: ipmv-core
Version: 1.1.0
Section: custom
Depends: ipmv-dep-1 (= 1.6.10), 
         ipmv-dep-2 (= 2.0.4)
Priority: optional
Architecture: amd64
Maintainer: nelson@bisect.pt
Description: IPMV CORE TEST DEB PACKAGE
